

body {

background: rgb(248, 248, 248);


}

aside {
float: left;
background: rgb(43, 43, 40);
width: 20%;
padding: 2.5%;
height: 100vh;
color: rgb(227, 176, 75);
border-right: 4px solid rgb(227, 176, 75);

}
aside img {
width: 80px;
margin: auto;
}
aside .logo {
font-size: 40px;
margin-left: 0%;
font-width: bold;

}
aside h3
{
margin-top:50px;
font-size: 30px;
}

aside ul li:hover, aside ul a:hover {
    color: rgb(241, 214, 171);
    text-decoration: none;

}
aside ul {list-style: none}
aside ul li {
color: rgb(248, 248, 248);
display: block;
margin-top: 30px;
transition: all .6s ease;
}

a
{
text-decoration: none;


}
main .features h1 {font-size: 50px; color: rgb(43, 43, 40);}
main .features p {max-width: 700px; margin: 20px auto}

main .features {
    float: left;
    color: rgb(43, 43, 40);
    margin-top: 100px;
    text-align: center;
    width: 75%;
}



.alert-warning {

float: left;
clear: both;
width: 400px;
margin: 5px 34%;
text-align: left;
}

form
{
    margin-left:32%;
    width: 500px;
    margin-top: 50px;

}